@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-white text-dark-gray font-commissioner;
  }

  button{
    @apply select-none
  }
}
@layer components {
  .responsive-px {
    @apply px-4 tablet:px-6 laptop:px-8 laptopM:px-10 laptopL:px-14;
  }
  .section-full-w {
    @apply -mx-4 tablet:-mx-6 laptop:-mx-8 laptopM:-mx-10 laptopL:-mx-14;
  }

  .title-2-section {
    @apply text-center text-2xl mobileL:text-3xl mobileXL:text-4xl tablet:text-[42px]
    !leading-[1.3] font-playfair-display font-semibold relative after:absolute after:block
    after:w-[100px] after:h-[5px] after:left-1/2 after:-bottom-4 after:mobileL:-bottom-5 after:mobileXL:-bottom-7 
    after:-translate-x-1/2 after:bg-primary-yellow after:rounded-lg;
  }
}
